table.blueTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #1C6EA4;
  margin-right: 40px;
  /* background-color: #EEEEEE; */
  width: 75%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
  padding: 3px 2px;
}

table.blueTable th {
  border: 1px solid #AAAAAA;
}

table.blueTable td {
  border-bottom: 1px solid #ddd;
}

table.blueTable tbody td {
  font-size: 16px;
}

table.blueTable tr:not(.thead):hover {
  background-color: #f1f1f1;
}

table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

table.blueTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
  border-left: none;
}

.mainDiv {
  width: 75%;
  text-align: center;
}

input.searchText {
  background-image: url('/static/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-sizing: border-box;
}
