<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Shortcuts</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/map.js"></script>
    </head>
    <body>
      <h1>Shortcuts</h1>
      <input type="text" class="searchText" id="searchText" onkeyup="filterRows()" placeholder="Search shortcuts..">
      <table class="blueTable" id="sTable">
        <thead>
          <tr>
          <th>Shortcut</th>
          <th>Full URL</th>
          </tr>
        </thead>
        <tbody>
          {{range $key, $value := .}}
          <tr>
            <td>{{$key}}</td>
            <td><a href="{{$value}}">{{$value}}</a></td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </body>
</html>
